server:
  port: 8082

spring:
  application:
    name: EDUSYNC-HR
  datasource:
    url: jdbc:postgresql://localhost:5432/edusync_erp
    username: edusync
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 2KB

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

---
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/edusync_erp

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/
